.reservation {
  position: relative;
  background-color: #d8e6ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
  font-family: "Inter", "Times New Roman", sans-serif;
  font-style: normal;
}

.reservation__title {
  position: relative;
  text-align: center;
  font-family: "Inter", "Times New Roman", sans-serif;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 80px;
  margin-top: 0;
  font-weight: 500;
}
